.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.card {

    &-bg {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        height: 25.7rem;
        width: 25.7rem;
        clip-path: circle(80% at 25% 75%);
        background: red;
        background-color:$primary-color-dark;
        &:hover {
            background-color: $secondary-color-dark;
            opacity:0.5;
        }
        .card-price {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6rem;
            height: 6rem;
            padding: 2rem;
            margin-left: 2rem;
            background-color: $details-color;
            color: white;
            border-radius: 50%;
        }

        .card-image {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 14rem;
            height: 14rem;
            border-radius: 50%;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    &-no-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        width: 25.7rem;
        flex-direction: column;

        .card-name {
            display: flex;
            justify-content: center;
            font-weight: bold;
            text-transform: capitalize;
            width: 25rem;
            color: scale-color($color: $secondary-color-dark, $lightness: -70%, $alpha: 1.0);
        }

        .card-description {
            display: flex;
            justify-content: center;
            font-size: $small-font-size;
            max-width: 23rem;
            overflow-wrap: break-word;
            word-wrap: break-word;
            hyphens: auto;
            height: auto;
            color: scale-color($color: $secondary-color-dark, $lightness: 50%, $alpha: 1.0);
        }
    }
}

.card:hover {
    cursor: pointer;
}


.bg-clip {
    background-color: $details-color;
}

@media only screen and (max-width: 65rem) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(4, 18rem);
        grid-gap: 0.5rem;
    }
    .title {
        margin: 1rem;
    }
    .card-bg {
        width: 18rem;
        height: 18rem;
    }
    .card-no-bg {
        width: 18rem;
        height: auto;
    }
    .card-no-bg .card-name{
        font-size: $small-font-size;
        width: 17rem;
    }
    .card-no-bg .card-description{
        width: 17rem;
        height: auto;
    }
    .card .card-image {
        width: 9rem;
        height: 9rem;
        margin-right: 1rem;
    }
    .card .card-image > img {
        width: 6rem;
        height: 6rem;
    }
    .card .card-price {
        width: 3rem;
        height: 3rem;
        font-size: $small-font-size;
    }
}
@media only screen and (max-width: 50rem) {
    .cards-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
}

@media only screen and (max-width: 33rem) {
    .cards-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-bg {
        width: 12.5rem;
        height: 12.5rem;
    }
    .card-no-bg {
        width: 12.5rem;
        height: auto;
    }
    .card-no-bg .card-name{
        font-size: $small-font-size;
        width: 10rem;
    }
    .card-no-bg .card-description{
        width: 10rem;
        height: auto;
    }
    .card .card-image {
        width: 7rem;
        height: 7rem;
        margin-right: 0.5rem;
    }
    .card .card-image > img {
        width: 4rem;
        height: 4rem;
    }
    .card .card-price {
        width: 2rem;
        height: 2rem;
        font-size: $small-font-size;
    }
}
