.Categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.title {
    margin: 3rem auto;
    font-size: $header-font-size;
    text-transform: uppercase;
}


@media only screen and (max-width: 65rem) {
    .list {
        display: grid;
        grid-template-columns: repeat(4, 18rem);
        grid-gap: 0.5rem;
    }
    .title {
        margin: 1rem;
    }
}

@media only screen and (max-width: 50rem) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }
}

@media only screen and (max-width: 33rem) {
    .list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.3rem;
    }
}
