.Category {

    .category-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25.7rem;
        width: 25.7rem;
        background-color: $primary-color-dark;
    }

    .category-bg:hover {
        background-color: $details-color;
        cursor: pointer;
    }
    .category-no-bg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25.7rem;

        .category-name {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}

@media only screen and (max-width: 65rem) {
    .Category .category-bg {
        width: 18rem;
        height: 18rem;
    }
    .Category .category-no-bg {
        width: 18rem;
        height: auto;
    }
    .category-img {
        width: 70%;
        height: auto;
    }

}

@media only screen and (max-width: 33rem) {
    .Category .category-bg {
        width: 12.5rem;
        height: 12.5rem;
    }
    .Category .category-no-bg {
        width: 12.5rem;
        height: auto;
    }
    .category-img {
        width: 50%;
        height: auto;
    }
}



