.Copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 0.05rem solid $secondary-color-dark;
    font-family: $header-font;
    font-size: 1.7rem;
}
.copyright-icon {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}
@media only screen and (max-width: 33rem) {
    .Copyright {
        font-size: 1rem;
    }
    .copyright-icon {
        font-size: 1rem;
    }
}