.Header {
    min-width: 100vw;
    min-height: 20vh;
    padding:0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header-input header-title header-button";
    font-size: $default-font-size;
    background-color: $primary-color-dark;
    font-family: $header-font;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    grid-area: header-title;

    > h1 {
        padding-right:1rem;
        font-size: 2.5rem;
    }

    > img {
        max-height: 5vh;
    }
}

.header-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    grid-area: header-button;

    > div {
        display: flex;
        padding-right: 1rem;
        cursor: pointer;
    }

    > i {
        display: flex;
    }
}

@media only screen and (max-width: 65rem) {
    .Header {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "header-title header-button" "header-input header-input";
    }
    .header-title {
        & > h1 {
            font-size: 2rem;
        }
    }
}


@media only screen and (max-width: 33rem) {
    .header-button {
        font-size: 1.5rem;
        justify-content: flex-end;
    }
    .header-title {
        & > img {
            max-height: 3vh;
        }
    }
}