.Input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: $default-font-size;
    grid-area: header-input;


    .search-input {
        background-color: $primary-color-dark;
        color:$secondary-color-dark;
        border:none;
        border-bottom: 0.1rem solid $secondary-color-dark;
        height: 3rem;
        min-width: 20rem;
    }

    .search-input:focus {
        outline: none;
    }
    .search-icon {
        height: 3rem;
        cursor: pointer;
    }

}
