.backdrop {
    position: fixed;
    top: 20vh;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 80vh;
    transition: all 0.3s;
  }
  .wrapper {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    max-width: 25vw;
    min-width: 25rem;
    max-height: 80vh;
    min-height: 80vh;
    overflow-y: scroll;
    z-index: 12;
    background-color: $primary-color-dark;
    box-shadow: 0 1rem 2rem rgba($secondary-color-dark, 0.2), 0 0.5rem 0.5rem rgba($secondary-color-dark, 0.5);
  }
  .list-item {
    display: flex;
    flex-direction: row;
  }
  .list-item-image {
    display: flex;
    justify-content: center;
    margin:0.5rem;
    border-radius: 3.5rem;
    max-width: 7rem;
    max-height: 7rem;
    background-color: $primary-color;
  }
  .list-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 7rem;
    max-height: 7rem;
  }
  .list-item-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: $small-font-size;
    font-weight: bold;
    padding: 1rem;
  }
  .list-description {
    font-weight: normal;
    text-overflow: ellipsis; 
    display:inline-block;
    width:10vw;
    white-space: nowrap;
    overflow:hidden ;
    text-overflow: ellipsis;
  }

  @media only screen and (max-width: 65rem) {
    .wrapper {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -100%);
    }
}
  
  