*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
    font-family: $body-font;
    background-color:$primary-color;
    color:$secondary-color-dark;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

::selection {
    background-color: $details-color;
    color: $primary-color-dark;
}

.spinner-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.spinner {
height: 5vw;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    font-size: 2.5rem;
}
/* width */
::-webkit-scrollbar {
    width: 1.25rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5rem $secondary-color-dark; 
    border-radius: 0.35rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $details-color; 
    border-radius: 0.35rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $details-color; 
  }