/* Colors */

$primary-color: #fff;
$primary-color-dark: #e8eaee;
$secondary-color: #E3B67C;
$secondary-color-dark: #564A4E;
$details-color: #f06060;

/* Font size */
$header-font-size: 3rem;
$default-font-size: 2rem;
$small-font-size: 1.3rem;

/* Font family*/ 
$header-font:"Quintessential",cursive,serif;
$body-font:'Open Sans Condensed',"Lato", sans-serif;

/* Animations */ 
@keyframes fadeInLeft {
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInLeft {
    100% {
        transform: translateX(0rem);
    }
}